services:
  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: sc_stats
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U root -d sc_stats']
      interval: 5s
      timeout: 5s
      retries: 30
    networks:
      - app-net

  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      DATABASE_URL: postgresql://root:root@postgres:5432/sc_stats?schema=public
      VIRTUAL_PORT: 4000
      VIRTUAL_HOST: ${VIRTUAL_HOST}
      LETSENCRYPT_HOST: ${VIRTUAL_HOST}
    volumes:
      - .:/app
      - ./docker-entrypoint.sh:/docker-entrypoint.sh
      - storage:/app/storage
      - node-modules:/app/node_modules
      - yarn-cache:/mnt/yarn-cache
    ports:
      - 4000:4000
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-net

  adminer:
    image: adminer
    restart: always
    container_name: adminer
    depends_on:
      - postgres
    ports:
      - 127.0.0.1:1337:8080

networks:
  app-net:
    driver: bridge

volumes:
  pgdata:
    name: 'sc_stats_db'

  storage:
    name: 'sc_stats_storage'

  node-modules:
    name: 'sc_stats_node_modules'

  yarn-cache:
    name: 'sc_stats_yarn_cache'
