name: Deploy to server

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH deploy
        uses: appleboy/ssh-action@v1.2.0
        env:
          PROJECT_PATH: ${{ vars.PROJECT_PATH }}
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          envs: PROJECT_PATH
          script: |
            cd $PROJECT_PATH
            git pull
            docker compose up -d --build app
